header{

    border-bottom: solid 1px rgb(36, 2, 36);
    margin: 20px;
    padding: 10px;
    font-size: 35px;
}

body{
    color:rgb(57, 111, 182); 
    background-color: rgb(230, 187, 217);

}